<div class="card card-compact bg-base-100 shadow-xl mt-5 animate-fadeIn">
  <figure>
    <img
      src="{{ productItem().images | productImage }}"
      alt="Shoes"
      loading="lazy"
    />
  </figure>
  <div class="card-body">
    <h2
      class="card-title font-montserrat text-accent texl-lg hover:underline cursor-pointer"
      [routerLink]="['/product', productItem().slug]"
    >
      {{ productItem().title }}
    </h2>
    <p>
      {{ productItem().description | slice : 0 : 70 }}
    </p>
    <div class="card-actions justify-end">
      <a
        class="link link-accent"
        [routerLink]="['/product', productItem().slug]"
        >Ver producto</a
      >
    </div>
  </div>
</div>
